---
import Layout from '../layouts/layout.astro';
import { getEntry, render } from 'astro:content';

const post = await getEntry("misc", 'about');
const { Content } = await render(post);
---
<Layout>
	<main>
		<div class="prose">
			<Content />	
		</div>
	</main>
</Layout>
<style>
main {
		width: calc(100% - 2rem);
		padding: 1rem 1rem;
		display: flex;
		flex-direction: column;
		@media (min-width: 48em) {
			width: calc(100% - 8rem);
			padding: 1rem 4rem;
	}
}

.prose {
		max-width: 50rem;
		margin: auto;
		padding: 1em;
		color: var(--text);
		font-size: 1.2rem;
		/* background: red; */
}

h2 {
 color: var(--text);
}	
</style>