---
import Layout from '../layouts/layout.astro';
import '../styles/global.css';
---
<Layout>
  <div class="p-4 flex flex-col">
    <div class="ml-4 flex-col gap-10 text-sm">
      <div class="text-xl"> welcome to clouded hills </div>
      <p> remember when the web was fun? I do. </p>
      <p> we used to explore the web nonlinearly. we would bounce around, jump back and forth. we would explore. </p>
    </div>
    <div class="text-xs text-center mx-8 py-4 border border-stone-200 bg-stone-100 rounded-sm">
      <div>"wait, no go back. click that link,</div>
      <div>no not that one, the other one"</div>
    </div>
    <div class="ml-4 flex-col gap-10 text-sm">
      <p> everyone crafted their own path, explored their own way, discovered their own web </p>
      <p> this doesn't happen anymore. we're force fed a slurry of algorithimcally optimised slop.</p>
      <p> but the web can be different. it can be simple. nonlinear, free. </p>
      <p> here is a collection of sites that enable that. pick one at random, click a link, fall down a rabbit hole. learn something. have fun. lose time </p>
      <p> all these sites are curated to be fun. they are nonlinear, monetised in a dignified way, and fun. go get lost</p> 
    </div>
  </div>
</Layout>
<style>
  p {
    margin: 1rem 0;
  }
</style>