---
import Layout from '../layouts/layout.astro';
import '../styles/global.css';
---
<Layout>
  <div class="p-4 flex flex-col">
    <div class="mx-auto flex-col gap-10">
      <div class="text-xl text-center"> welcome to clouded hills </div>
      <p class="text-sm"> remember when the web was fun? I do. </p>
      <p class="text-sm"> we used to explore the web nonlinearly. we would bounce around, jump back and forth. we would explore. </p>
      <p class="text-xs px-2"> "wait, no go back. click that link, no not that one, the other one"</p>
      <p class="text-sm"> everyone crafted their own path, explored their own way, discovered their own web </p>
      <p class="text-sm"> this doesn't happen anymore. we're force fed a slurry of algorithimcally optimised slop. it's more about profit than anything else
      </p>
      <p class="text-sm"> but the web can be different. it can be simple. nonlinear, free. </p>
      <p class="text-sm"> here is a collection of sites that enable that. pick one at random, click a link, fall down a rabbit hole. learn something. have fun. lose time </p>
      <p class="text-sm"> all these sites are curated to be fun. they are nonlinear, monetised in a dignified way, and fun. go get lost</p> 
    </div>
    </div>
</Layout>
<style>
  p {
    margin: 1rem 0;
  }
</style>