---
import Layout from '../layouts/layout.astro';
import '../styles/global.css';
---
<Layout>
  <div class="flex">
    <div class="mx-4 sm:mx-auto p-6 pt-4 sm:max-w-[50%] flex flex-col gap-4 sm:gap-6 bg-stone-100 dark:bg-gray-700 dark:text-stone-100 rounded-md">
      <div class="text-xl sm:my-2"> welcome to clouded hills </div>
      <p> remember when the web was fun? I do. </p>
      <p> we used to explore the web nonlinearly. we would bounce around, jump back and forth. we would explore. </p>
      <div class="text-xs sm:text-sm text-center max-w-96 mx-auto px-10 py-4 border border-stone-200 bg-white dark:bg-gray-800 rounded-sm">
        <div>"wait, no go back. click that link,</div>
        <div>no not that one, the other one"</div>
      </div>
      <p> everyone crafted their own path, explored their own way, discovered their own web </p>
      <p> this doesn't happen anymore. we're force fed a slurry of algorithimcally optimised slop.</p>
      <p> but the web can be different. it can be simple. nonlinear, free. </p>
      <p> here is a collection of sites that enable that. pick one at random, click a link, fall down a rabbit hole. learn something. have fun. lose time </p>
      <p> all these sites are curated to be fun. they are nonlinear, monetised in a dignified way, and fun. go get lost</p> 
    </div>
  </div>
</Layout>
<style>
  p {
    font-size: var(--text-sm) /* 0.875rem = 14px */;
    line-height: var(--tw-leading, var(--text-sm--line-height) /* calc(1.25 / 0.875) ≈ 1.4286 */)
  }
</style>