---
import { SITE_TITLE } from "../consts";
import HeaderLink from "./HeaderLink.astro";
const { hideTitle } = Astro.props;
import "./HeaderNeo.css";
---
<header>
		<a class="" href="/">
					<div class="title-logo-container">
						<img class="logo" src="/clouded-hills.svg" />
						<h2 class="serif">{SITE_TITLE}</h2>
					</div>
		</a>
</header>
	<nav>
		<a class="title" href="/">
			{
				!hideTitle && (
					<div class="title-logo-container">
						<img class="logo" src="/clouded-hills.svg" />
						<h2 class="serif">{SITE_TITLE}</h2>
					</div>
				)
			}
		</a>
		<div class="internal-links">
			<HeaderLink class="link-item" href="/">home</HeaderLink>
			<HeaderLink class="link-item rosewater" href="/essays">essays</HeaderLink>
			<HeaderLink class="link-item" href="/musings">musings</HeaderLink>
			<HeaderLink class="link-item" href="/notes">notes</HeaderLink>
			<HeaderLink class="link-item right" href="/about">about</HeaderLink>
		</div>
  </nav>

