	.title-logo-container {
		display: flex;
		gap: 1rem;
		margin-left: 0.4rem;
	}

	.logo {
		width: 8rem;
		height: 8rem;
	}

	h2 {
		margin: 2rem;
		font-size: 4rem;
		color: var(--teal);
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: left;
		justify-content: space-between;
    border: 1px solid var(--text);
    width: 10rem;
    padding: 2rem;
    margin: 3rem 5rem;
    background: var(--mantle);
    box-shadow: 0.5rem 0.5rem 0.5rem 0 var(--text);
	}
  .title {
    display: none;
  }
	.link-item {
		/* color: var(--text); */
		padding: 0.5rem 0.1em;
		margin-right: 2.5em;
		padding-bottom: 0;
		border-bottom: 0.25em solid transparent;
		text-decoration: none;
		font-size: 1rem;
		color: var(--rosewater);
	}
	.link-item.active {
		text-decoration: none;
		border-bottom-color: var(--rosewater);
	}

	.internal-links {
		display: flex;
    flex-direction: column;
	}
	a {
		text-decoration: none !important;
	}
  header {
    border: 1px solid var(--text);
    margin: 3rem 5rem;
    padding: 3rem; 
    background: var(--mantle);
    box-shadow: 0.5rem 0.5rem 0.5rem 0 var(--text);
  }
