---
import AtomContentType from "../Atoms/AtomContentType.astro";
import AtomStartHere from "../Atoms/AtomStartHere.astro";
---

<div class="content-card card-rosewater">
		<img
			class="background-image"
			src="/src/assets/test-image.jpg"
			alt="Test image"
		/>
		<AtomStartHere />
		<div class="header-container">
			<h3 class="card-header serif">Pessimism</h3>
			<h3 class="card-header serif">and Palestine</h3>
		</div>
		<div class="card-paragraph">
			On radical hope, and how pessimism permits genocide.
		</div>
</div>

<style>
	.card-paragraph {
		line-height: 1.5rem;
		position: absolute;
		bottom: 0;
		left: 0;
		margin: 0.5rem 1rem;
		padding: 0.5rem 1rem;
		color: white;
		/* background-color: var(--rosewater); */
		font-size: medium;
	}


	.header-container {
		/* background: var(--rosewater); */
		padding: 1rem;
		position: absolute;
		bottom: 4rem;
		left: 1rem;
	}

	.content-card {
		height: 100%;
		width: 100%;
		min-height: 20rem;
		min-width: 15rem;
		/* aspect-ratio: 1 / 1; */
		/* flex: 1; */
		border-radius: 0.5rem;
		overflow: hidden;
		position: relative;
		z-index: 1;
		/* padding: 1rem; */
	}

	.card-header {
		color: var(--base);
		font-size: x-large;
		font-weight: 600;
	}

	.background-image {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		border-radius: 0 0 0 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

</style>
